/* === Contenedor Principal === */
.product-detail {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  position: relative;
  padding: 20px;
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* === ID del Producto === */
.product-detail-id {
  color: #131010;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* === Título del Producto === */
.product-detail-title {
  font-size: 30px;
  font-weight: 900;
  color: #267c88;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* === Imagen del Producto === */
.product-detail-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: var(--contrast);
}

/* === Precio del Producto === */
.product-detail-price {
  color: #720d0d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* === Stock del Producto === */
.product-detail-stock {
  color: #9b2828;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* === Descripción del Producto === */
.product-detail-description {
  color: #324774;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* === Botón de Agregar al Carrito === */
.add-to-cart-button {
  background-color: #267c88;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.add-to-cart-button:hover {
  background-color: #1a5a63;
}

/* === Enlace de Volver al Inicio === */
.back-to-home-link {
  color: #c7c4c4;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
  display: block;
}

.back-to-home-link:hover {
  color: #93a1a1;
}