/* Create Product Container */
.create-product-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #7c2aed;
    border-radius: 15px;
    box-shadow: 0 0 20px #7c2aed, 0 0 40px #7c2aed;
}

/* Title */
.create-product-title {
    text-align: center;
    font-size: 2rem;
    color: #7c2aed;
    text-shadow: 0 0 10px #7c2aed;
    margin-bottom: 20px;
}

/* Form */
.create-product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 1rem;
    color: #d1b3ff;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.form-input,
.form-textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    outline: none;
    box-shadow: 0 0 10px #7c2aed inset;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: #d1b3ff;
    opacity: 0.8;
}



.selected-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}


/* Submit Button */
.create-button {
    padding: 10px 15px;
    font-size: 1rem;
    background: linear-gradient(145deg, #7c2aed, #9b42f5);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 10px #7c2aed, 0 0 20px #9b42f5;
    transition: all 0.3s ease;
}

.create-button:hover {
    background: linear-gradient(145deg, #9b42f5, #7c2aed);
    box-shadow: 0 0 20px #9b42f5, 0 0 40px #7c2aed;
}

.back-to-home-button {
    padding: 10px 15px;
    font-size: 1rem;
    background: linear-gradient(145deg, #34C759, #2E865F);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 10px #34C759, 0 0 20px #2E865F;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
  }
  
  .back-to-home-button:hover {
    background: linear-gradient(145deg, #2E865F, #34C759);
    box-shadow: 0 0 10px #2E865F, 0 0 20px #34C759;
    transform: scale(1.05);
  }