/* Update Product Container */
.update-product-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #34C759;
    border-radius: 15px;
    background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
    box-shadow: 0 0 20px #34C759, 0 0 40px #34C759;
}

/* Title */
.update-product-title {
    text-align: center;
    font-size: 2rem;
    color: #34C759;
    text-shadow: 0 0 10px #34C759;
    margin-bottom: 20px;
}

/* Form */
.update-product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.update-form-group {
    display: flex;
    flex-direction: column;
}

.update-form-label {
    font-size: 1rem;
    color: #d1b3ff;
    margin-bottom: 5px;
}

.update-form-input,
.update-form-textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
    outline: none;
    box-shadow: 0 0 10px #34C759 inset;
}

.update-form-input::placeholder,
.update-form-textarea::placeholder {
    color: #d1b3ff;
    opacity: 0.8;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.selected-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Error Message */
.error-message {
    color: red;
    margin-top: 10px;
}

/* Submit Button */
.update-button {
    padding: 10px 15px;
    font-size: 1rem;
    background: linear-gradient(145deg, #90bbe3, #6318c7);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 10px #34C759, 0 0 20px #2E865F;
    transition: all 0.3s ease;
}

.update-button:hover {
    background: linear-gradient(145deg, #6c4ba1, #178ba0);
    box-shadow: 0 0 20px #2E865F, 0 0 40px #34C759;
}

.back-to-home-button {
    padding: 10px 15px;
    font-size: 1rem;
    background: linear-gradient(145deg, #34C759, #2E865F);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 10px #34C759, 0 0 20px #2E865F;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
  }
  
  .back-to-home-button:hover {
    background: linear-gradient(145deg, #2E865F, #34C759);
    box-shadow: 0 0 10px #2E865F, 0 0 20px #34C759;
    transform: scale(1.05);
  }