
body {
  background-color: #ebecf0;
}

.login-container {
  background-color: #ebecf0; /* Fondo claro adaptado */
  padding: 16px; /* Adaptado del $ruler */
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC; /* Neumorfismo */
  max-width: 320px; /* Adaptado del $ruler * 20 */
  margin: auto;
  margin-top: 230px; /* $ruler * 4 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  color: #61677C; /* Color texto adaptado */
  font-size: 16px; /* Usando $ruler */
  text-align: center;
  margin-bottom: 32px; /* $ruler * 2 */
  text-shadow: 1px 1px 1px #FFF; /* Neumorfismo ligero */
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 32px; /* $ruler * 2 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-field {
  background-color: #EBECF0; /* Fondo adaptado */
  border: none;
  padding: 16px; /* $ruler */
  border-radius: 320px; /* $ruler * 20 */
  color: #BABECC; /* Texto sombra */
  font-size: 16px; /* $ruler */
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; /* Neumorfismo */
  transition: all 0.2s ease-in-out;
}

.input-field:focus {
  outline: none;
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.submit-button {
  background-color: #EBECF0; /* Fondo adaptado */
  color: #61677C; /* Color adaptado */
  padding: 16px; /* $ruler */
  border: none;
  border-radius: 320px; /* $ruler * 20 */
  cursor: pointer;
  font-size: 16px; /* $ruler */
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC; /* Neumorfismo */
  transition: all 0.2s ease-in-out;
}

.submit-button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  background-color: #AE1100; /* Rojo adaptado */
}

.submit-button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.register-link {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 32px; /* $ruler * 2 */
}

.register-link li {
  color: #BABECC; /* Color sombra */
  font-size: 14px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #FFF;
}

.register-link a {
  color: #BABECC; /* Color sombra */
  text-decoration: underline;
}

.register-link a:hover {
  color: #AE1100; /* Rojo adaptado */
}
